@using ShoppingCloth.ViewModel
@using ShoppingCloth.Data.Models
@model ProductsListViewModel
@{
    ViewData["Title"] = "List";
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>List</title>
    </head>
    <body>
        <h1>Вся одежда</h1>
        <h3>@Model.currCategory</h3>
    @{

        foreach(Product product in Model.AllProducts)
        {
            @Html.Partial("AllProduct", product)
            
        }
        
     }
    </body>
</html>

